page-servicelist {

}
.bg1
{
    background-color: rgb(20, 235, 67);
    text-align: center;
}

.bg 
{
    background-image: url('../assets/imgs/background.jpg');
    text-align: center;
}

.card{
    border-radius: 25px;
    border:4px;
    margin-top: 10px;
}
